<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projekat_jun_sava_ivkovic_rn1220_mihailo_trajkovic_rn320"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".gui.activity.ChangeSavedMealActivity"
            android:exported="false" />
        <activity
            android:name=".gui.activity.SaveMealActivity"
            android:exported="false" />
        <activity
            android:name=".gui.activity.MealDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".gui.activity.ListMealsActivity"
            android:exported="false" />
        <activity
            android:name=".gui.activity.SplashActivity"
            android:theme="@style/Theme.Projekat_jun_sava_ivkovic_rn1220_mihailo_trajkovic_rn320.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".gui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.nutrition-tracker.rs"
                    android:scheme="https" />

            </intent-filter>
        </activity>
    </application>

</manifest>